@font-face {
  font-family: "GraphikWeb";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../../../assets/fonts/GraphikWeb-Regular.ttf") format("truetype"),
    url("../../../assets/fonts/GraphikWeb-Regular.woff") format("woff"),
    url("../../../assets/fonts/GraphikWeb-Regular.woff2") format("woff2");
}
