/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #0f1941,
  yellow: #fbb511,
  red: #e74536,
  blue: #2175d9,
  grey: #707070,
  mint: #6ba5b4,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
