/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #0f1941,
  color-orange: #fbb511,
  color-red: #e74536,
  color-blue: #2175d9,
  color-grey: #707070,
  color-mint: #6ba5b4,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
